
body {
    font-family: Arial, sans-serif;
    background: #1A1A2E;
    color: #6A1B9A;
    margin: 500;
}
main {
    padding: 40px;
}
header {
    background: #000000;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header #titleLogo {
    font-size: 2.5rem;
    color: #E0E0E0;
    text-decoration: none;
    margin-left: 2rem;
    float: none;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

#navbar {
    text-align: center;
    margin-right: 20px;
}

nav a{
    background-color: #000000;
    text-decoration: none;
    color:#E0E0E0;
    cursor: default;
    margin: 10px;
    padding: 10px;
}

nav a:hover {
    color: #6A1B9A; /* Exemplo de cor de destaque roxa */
}

#carousel {
    margin-top: 20px;
}

.carousel-inner {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.imgcarro{
    height: 500px;
    object-fit: cover;
}

h2 {
    margin-top: 30px;
    text-align: center;
}

#best-year {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#best-of-year {
    text-align: center;
}